.detail{
  &_container{
    @apply grid grid-areas-detail gap-4 p-6 px-[5%];
  }
  &_slider{
    @apply  w-full flex flex-col items-center justify-center p-4 rounded-md shadow-md grid-in-slider;
    &_single {
      @apply flex flex-col relative max-w-[600px] md:w-[600px] md:h-[600px];
    }
  }
  &_content{
    @apply p-4 w-full rounded-md shadow-md grid-in-add-info;
    h1{
      @apply text-lg font-bold text-center py-4 uppercase;
    }
  }
  &_description{
    @apply p-4;
    p{
      @apply text-base leading-8
    }
  }
  &_meta{
    @apply text-slate-800 flex gap-2 flex-col;
    span{
      @apply font-bold;
    }
  }
  &_links{
    @apply flex w-full flex-col p-4 rounded-md shadow-md grid-in-video;
    &__title{
      @apply text-lg uppercase font-bold text-center;
    }
  }
  &_info{
    ul{
      li{
        @apply my-8 font-semibold	;
        a{
          @apply font-normal text-slate-700 underline pl-3;
        }
      }
    }
    &__video{
      @apply h-[310px] sm:h-[45vh] md:h-[50vh] lg:h-[60vh];
      span{
        @apply mb-4 inline-block;
      }
      iframe{
        @apply m-auto w-full md:w-4/5 lg:w-3/5;
      }
    }
  }
}